   <% content_for :title, "The Hippie Market - What We Do" %>  
   <% @aboutvideo.each do |video| %>
     <div class="video-wrap">
       <div class="video-youtube">
         <%= video.url.html_safe %>
       </div>
       <div class="video-content">
          <div class="video-title">
            <%= video.title %>
          </div>
          <div class="video-date">
            <%= video.date %>
          </div>
          <div class="video-desc">
            <%= video.desc %>
          </div>
       </div>
     </div>
   <% end %>
