<div id="what-picture">
  <p style="text-align:center; width:100%;">esperando foto</p>
</div>
<div id="what-text">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam purus quam. Cras adipiscing dui at nisl ornare ac gravida justo lacinia. Morbi venenatis augue sed odio interdum et porta enim dapibus. Nulla facilisi. Nullam sed molestie ligula. Nunc luctus congue mauris, id sodales nunc eleifend eget. Donec sollicitudin tempor consequat. Suspendisse sollicitudin fringilla varius. Vivamus non lacus ipsum, et malesuada justo. Maecenas aliquet arcu et lorem placerat ut tincidunt orci faucibus.</p>

  <p>Integer suscipit dictum posuere. Duis rhoncus aliquam nisl, quis viverra nulla porta nec. Morbi elementum, justo sed lacinia bibendum, purus risus semper purus, sed egestas enim dui vel massa. Morbi fermentum odio id tellus fermentum ut tincidunt nibh pretium. Sed ut ligula at eros malesuada consectetur eu nec erat. Aliquam lobortis pretium nisl non tincidunt. Maecenas sodales dapibus nibh, et consequat ante molestie sed. Duis quis elit venenatis purus pretium condimentum. Ut volutpat mattis velit in pharetra. Nullam in quam dignissim neque adipiscing tempus. Nulla egestas ante eget lacus bibendum in ornare sapien dignissim.</p>

  <p>Etiam vitae commodo magna. Suspendisse id massa purus, sed cursus velit. Nunc mollis congue auctor. Nulla facilisi. Morbi luctus interdum turpis, et tempus risus tincidunt et. Nunc pretium pharetra tincidunt. Vivamus in odio odio. Nullam at eros felis.</p>
</div>
<% content_for :title, "The Hippie Market - Who We Are" %>  
