<div id="footer">
	<div id="footer-content">
		<div id="logo_footer" class="footer-col">
			<%= image_tag("logo_footer.png") %>
		</div>
		<div id="contact-us" class="footer-col">
			<h3>Contact Us</h3>
			<p>eserserser</p>
			<p>sersrserser</p>
			<p>srsersersee</p>
		</div>
		<div id="quick-links" class="footer-col">
			<h3>Quick Links</h3>
		</div>
		<div id="social-media" class="footer-col">
			
		</div>
	</div>
</div>