<div id="sidebar" class="span2">
  <ul>
    <li><i class="icon-home"></i><%= link_to "Inicio", admin_path %></li>
    <li><%= link_to "Tiendas", stores_path %></li>
    <li><%= link_to "Video About", aboutvideos_path %></li>
  </ul>
</div>
