<div id="footer">
	<div id="footer-content">
		<div id="logo_footer">
			<%= image_tag("logo_footer.png") %>
		</div>
		<div id="contact-us" class="footer-col">
			<h3>Contact Us</h3>
			<p>Email</p>
			<p>Newsletter</p>
			<p>Mobile</p>
		</div>
		<div id="quick-links" class="footer-col">
			<h3>Quick Links</h3>
      <p>Amazon</p>
      <p>eBay</p>
      <p>Google</p>
		</div>
		<div id="social-media" class="footer-col">
      <%= image_tag ('facebook.png') %>	
      <%= image_tag ('twitter.png') %>	
		</div>
	</div>
</div>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66616255); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66616255ns.gif" /></p></noscript>
