<div id="footer">
	<div id="footer-content">
		<div id="logo_footer">
			<%= image_tag("logo_footer.png") %>
		</div>
		<div id="contact-us" class="footer-col">
			<h3>Contact Us</h3>
			<p>Email</p>
			<p>Newsletter</p>
			<p>Mobile</p>
		</div>
		<div id="quick-links" class="footer-col">
			<h3>Quick Links</h3>
      <p>Amazon</p>
      <p>eBay</p>
      <p>Google</p>
		</div>
		<div id="social-media" class="footer-col">
			
		</div>
	</div>
</div>
