// Place all the styles related to the Visitor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	margin:0;
	padding: 0;
}

body{
	margin: 0 auto;
	margin-top:50px;
}

#nav {
	border-bottom: solid black 1px;	
	padding-bottom: 5px;
	text-align:center;
}

#nav ul li { 
	display: inline;
	padding:40px 
}

#footer{
	background: #d8125f;
	height:190px;
}
#footer-content{
	margin:0 auto;
	text-align: right;
	color:white;
	width:960px;
}
#main{
	width:960px;
	margin: 0 auto;
}

#logo_footer{
	width:285px;
}

#footer h3,p{
	
}
#contact-us{
	width:175px;
}


#quick-links{
	width:175px;
}


.footer-col{
	margin-top:20px;
	float:left;
}
